@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
    padding-top: 80px;
    line-height: 1.6;
}

/*-------------------------------------------------------  Navbar  ------------------------------------------------------------*/

.navbar-default{
	border: transparent;
	box-shadow: 0px 3px 0px #ebebeb;
	background-color: #fff;
}

#logo-brand{
	height: auto;
	width: 30px;
	margin-top: -8px;
	margin-left: 14px;
}

.nav-inex{
	margin: 0px 20px 0px 5px;
}

.navbar-nav li{
	padding-right: 10px;
	font-size: 15px;
}

.form-control{
	box-shadow: none;
	width: 600px;
}

.form-control:focus{
	border-color: #e5e5e5;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-top{
	width: 180px !important;
	padding: 0px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid #c8c8c8;
	border-radius: 0px;
}

.btn-default{
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.btn-default:hover{
	background-color: transparent;
}

.src-top{
	font-size: 15px;
	color: #777;
}

.src-top:hover{
	color: #777;
}

.menu-top-drop{
	box-shadow: none;
	border: none;
	background: transparent;
}

.dropdown-toggle:active{
	background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color: transparent;
}

.dropdown-menu > li > a:hover{
	background-color: transparent;
	color: #898989;
}


@media (min-width: 1200px){
	.container {
    width: 1270px;
}
}






/*--------------------------------------------------  End Navbar ----------------------------------------------------------------------*/

/* +++++++++++++++++++++++++++++++++++++++++++++++++ Content ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}

.img-pst{
	margin-bottom: 10px;
}

.img-pst figure{
	position: relative;
}

img{
	vertical-align: middle;
}

.title-header {
    padding-bottom: 70px;
}

.pagination{
	margin: 45px 0;
}

.pagination > li > a, .pagination > li > span {
    padding: 3px 20px;
    color: #333333;
    background-color: transparent;
    border: none;
    font-size: 17px;
}

.pagination > li > a:hover{
	color: #333;
	background-color: transparent;
}

.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover 
{
    z-index: 3;
    color: #333f;
    cursor: default;
    background-color: #ddd;
    border-color: transparent;
    border-radius: 10px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++ Side Bar ++++++++++++++++++++++++++++++++++++++++++++++++ */

.title-sidebar {
    margin-bottom: 15px;
}

.title-sidebar{
	font-weight: bold;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: transparent;
}

a.list-group-item {
    font-size: 18px;
    padding: 15px 10px;
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Footer +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#footer-wrap {
    padding-top: 45px;
    padding-bottom: 30px;
    border-top: 1px solid #EEE;
}

#footer-wrap h4{
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

#about-text{
	text-align: justify;
}

.useful-footer a {
	color: #000;
	padding-bottom: 10px;
	display: inline-block;
	font-size: 17px;
}

.find-footer a{
	padding-bottom: 10px;
	display: inline-block;
	font-size: 20px;
}

#ig{
	color: #E13E61;
}

#pint{
	color: #CB2027;
}

#fb{
	color: #3B59AE;
}

h5{
	font-size: 17px;
	color: #000;
}

.copyrght{
	font-size: 15px;
	margin-top: 12px;
}

.footer-img{
	width: 18px;
	height: auto;
	margin-top: -3px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++ Responsive +++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 767px){
	.wallpaper figure a > img {
    width: 100%;
}
	.img-pst{
	margin: 0;
	padding: 0;
}
	.caption{
		display: none;
	}
}